input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px transparent inset !important;
}

.formList{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 16px;
}
.labelForm{
    color: #BFBFBF;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 2px;
    letter-spacing: -0.409091px;
    
}

input {
    margin-top: 16px;
    width: 200px;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px grey;
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, yellow 4%);
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    color: white;
}
input:focus, input:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}
input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
    color: yellow;
    font-size: 11px;
    transform: translateY(-20px);
    visibility: visible !important;
}

