.counter-item{
    position: relative;
    top:-10px;
    left: 0px;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.counterContainer{

    width: 108px;
    height: 25px;
    

    background: #E3D824;
    border-radius: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.button-32{
    background: transparent;
    border: 0px;
    margin-left: 8px;
    margin-right: 4px;
}
.valueCounter{
    height: 25px;
    width: 56px;
    font-size: 14px;
    line-height: 26px;
    font-weight:700;
    background-color: #E0DBDB;
    text-align: center;
}
.addCart{
    width: max-content;
    height: max-content;
    line-height: -48px;

}
.cartLink{
    

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 17px;
    width: max-content;
    color: #FFFFFF;

    text-decoration: none;
    
    transition: all 0.15s ease-in-out;
    transition-property: color, background-color;
}
.cartLink:hover {
    color: rgb(177, 177, 30);
}